<html lang="en" dir="ltr">
  <head><link
    
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
 
  <div class="sidebar close">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">Admin</span>
      </div>
      <ul class="nav-links">
        <li>
          <a routerLink="/admin/home">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Home</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" routerLink="/admin/home">Home</a></li>
          </ul>
        </li>
        
        
        <li>
          <a routerLink="/admin/planformation">
            <i class="bx bx-line-chart"></i>
            <span class="link_name">Chart</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" routerLink="/admin/planformation">Chart</a></li>
          </ul>
        </li>
        
         
        <li>
          <div class="iocn-link">
            <a >
              <i class="bx bx-collection"></i>
              <span class="link_name">Gestion User</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name">Gestion User</a></li>
            <li><a routerLink="/admin/gestionResponsable">Gestion Responsable</a></li>
            <li><a routerLink="/admin/gestionCollaborateur">Gestion  Collaborateur</a></li>
            
          </ul>
        </li>
       
        <li>
          <a >
            <i class="bx bx-cog"></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name">Setting</a></li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" >
            </div>
            <div class="name-job">
              <div class="profile_name">{{nom}} </div>
              <div class="job">Admin</div>
            </div>
            <i class="bx bx-log-out" (click)="logout()"></i>
          </div>
        </li>
      </ul>
    </div>
    
    <section class="home-section" style="padding-left: 30px;">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <button class="button" (click)="makePDf()">
          <svg class="svg-icon" width="24" viewBox="0 0 24 24" height="24" fill="none"><g stroke-width="2" stroke-linecap="round" stroke="#056dfa" fill-rule="evenodd" clip-rule="evenodd"><path d="m3 7h17c.5523 0 1 .44772 1 1v11c0 .5523-.4477 1-1 1h-16c-.55228 0-1-.4477-1-1z"></path><path d="m3 4.5c0-.27614.22386-.5.5-.5h6.29289c.13261 0 .25981.05268.35351.14645l2.8536 2.85355h-10z"></path></g></svg>
          <span class="lable">PDF</span>
        </button>&nbsp;&nbsp;
        <button class="button" (click)="genererExcel()">
          <svg class="svg-icon" width="24" viewBox="0 0 24 24" height="24" fill="none"><g stroke-width="2" stroke-linecap="round" stroke="#056dfa" fill-rule="evenodd" clip-rule="evenodd"><path d="m3 7h17c.5523 0 1 .44772 1 1v11c0 .5523-.4477 1-1 1h-16c-.55228 0-1-.4477-1-1z"></path><path d="m3 4.5c0-.27614.22386-.5.5-.5h6.29289c.13261 0 .25981.05268.35351.14645l2.8536 2.85355h-10z"></path></g></svg>
          <span class="lable">Excel</span>
        </button>
      </div>


<!-------Code lena---------><!----------------Code lena------------><!--------------Code lena------------>


<div id="content" #content style="padding-left: 20px;">
<br><h1>Plan des Formations</h1> 
<div class="col-md-10  " >
  <div class="row ">
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-cherry">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Nombres de Formations</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            {{nombreFormations}}
                          </h2>
                      </div>
                      
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-blue-dark">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Nombre de participants total</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            {{nombreParticipantsTotal}}
                          </h2>
                      </div>
                      
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-green-dark">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Cout Total des Formations(DT)</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                              {{coutTotal}}
                          </h2>
                      </div>
                     
                  </div>
                 
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-orange-dark">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Budget Total Des Formations(DT)</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            {{budgetTotal}}
                          </h2>
                      </div>
                      
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>

<div class="charts-container">
  
 
  <div class="chart-item">
    <h3>Nombre total des demandes</h3>
    <canvas #nombreformations  ></canvas>
  </div>
  <div class="chart-item">
    <h3>Formations plus demandées</h3>
    <canvas #formationChart id="myChart"></canvas>
  </div>
  <div class="chart-item">
    <h3>Nombre total des Collaborateurs</h3>
    <canvas #nombrecollaborateur  ></canvas>
  </div>
</div>

<!------------------Code lena--------------><!-----------------Code lena---------------><!-------------Code lena-------------------->
</div>
</section> 

</html>
