<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="hero"><app-user-navbar></app-user-navbar><br><br>


   
  

    <div class="mydict">
        <div>
            <label>
                <input type="radio" name="radio" [(ngModel)]="selectedOption" value="All" (change)="onRadioChange()">
                <span>All</span>
              </label>
          <label>
            <input type="radio" name="radio" [(ngModel)]="selectedOption" value="En Cours" (change)="onRadioChange()">
            <span>En Cours</span>
          </label>
          <label>
            <input type="radio" name="radio" [(ngModel)]="selectedOption" value="Valider" (change)="onRadioChange()">
            <span>Valider</span>
          </label>
          <label>
            <input type="radio" name="radio" [(ngModel)]="selectedOption" value="Annuler" (change)="onRadioChange()">
            <span>Annuler</span>
          </label>
        </div>
      </div>
    <table>
        
        
         <br>
      
      </table>
      <div class="container">
        <div class="row">
            <div class="col-12 mb-3 mb-lg-5">
                <div class="position-relative card table-nowrap table-card">
                    <div class="card-header align-items-center">
                        <h5 class="mb-0">Demandes Formation</h5>
                        <p class="mb-0 small text-muted">Liste</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="small text-uppercase bg-body text-muted">
                                <tr>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Description</th>
                                    
                                    <th>Status</th>
                                    <th>Start Formation</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr class="align-middle" *ngFor="let item of ListFormations">
                                <td>
                                  <span class="big-text" style="color: blue;">
                                      {{ item.formation.titre }}
                                  </span>
                              </td>
                                <td> {{ item.formation.date_formation }}</td>
                                <td>{{ item.formation.heure_formation }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!-- <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>-->
                                        <span>{{ item.formation.description }}</span>
                                    </div>
                                </td>
                                <td>
                                    <span [ngClass]="{'badge fs-6 fw-normal bg-tint-success text-success': item.etat === 'Valider',
                                                    'badge fs-6 fw-normal bg-tint-warning text-warning': item.etat === 'En_cours',
                                                    'badge fs-6 fw-normal bg-tint-danger text-danger': item.etat === 'Annuler'}">
                                        {{ item.etat }}
                                    </span>
                                </td>
                                <td *ngIf="item.etat === 'Valider'">
                                  <button class="buttonn" (click)="openExternalLink(item.formation.lien)">

                                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="26px"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="currentColor"></path></svg>
                                  </button>
                              </td>
                              <td *ngIf="item.etat !== 'Valider'">
                                  <button class="button">
                                      <span>Not allowed!</span>
                                      <span>
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-miterlimit="2" stroke-linejoin="round" fill-rule="evenodd" clip-rule="evenodd">
                                              <path fill-rule="nonzero" d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"></path>
                                          </svg>
                                      </span>
                                  </button>
                              </td>
                              
                            </tr>
                               
                                
                              
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-end">
                        <a href="#!" class="btn btn-gray">View All Demandes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>
      




         
            
          
     
  
  