<mat-nav-list>
  <div class="logo py-4">
    <h1 style="color: rgb(249, 249, 249)">Formation</h1>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable//home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/formation">
    <mat-icon> format_list_bulleted</mat-icon> Formation
  </a>
   
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/listedemandes">
    <mat-icon>event_note</mat-icon> Liste demandes
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/demandevalider">
    <mat-icon>check_circle</mat-icon> Demandes Validés
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/demandeannuler">
    <mat-icon>remove_circle</mat-icon> Demandes Annulés
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/competences">
    <mat-icon>folder_special</mat-icon> Compétence
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/competence/collaborateurs">
    <mat-icon> person_pin</mat-icon>Gestion Des competences
  </a>
  
</mat-nav-list>
